<div class="row">
    <div class="col-2"></div>
    <div class="col-8 p-3">
        <div class="row py-3">
            <div class="col-12 text-end">
                <a routerLink="add-task">
                    <button type="button" class="btn btn-primary">
                        create Task
                    </button>
                </a>
            </div>
        </div>
        <div class="row bg-primary p-3 text-center">
            <div class="col-1">
                SI.NO
            </div>
            <div class="col-4">
                Task TItle
            </div>
            <div class="col-3">
                Current Status
            </div>
            <div class="col-3">
                Update Status
            </div>
            <div class="col-1">
                Delete Task
            </div>
        </div>
        <div class="row bg-info py-3 text-center" *ngFor="let todolist of todolistarray">
            <div class="col-1">
                {{todolist.id}}
            </div>
            <div class="col-4">
                {{todolist.tasks}}
            </div>
            <div class="col-3">
                <span *ngFor="let aru of status">
                    <span *ngIf="aru.value == todolist.completion_status" >
                        {{aru.string}}
                    </span>
                </span>
            </div>
            <div class="col-3">
                <select (change) = "savethevalue($event, todolist.id)">
                    <option *ngFor="let sta of status"
                    [attr.selected]="todolist.completion_status == sta.value ? true : null"  value={{sta.value}} >
                        {{sta.string}}
                    </option>
                </select>
            </div>
            <div class="col-1">
                <button type="submit" (click) = "deletetask(todolist.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

