<div class="row">
    <div class="col-3"></div>
    <div class="col-6 p-3">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <span>Add Task</span>
                        </div>
                        <div class="col-3">
                            <a routerLink="">
                                <button type="button" class="btn btn-info text-right">
                                    Show Task
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Task Title
            </div>
            <div class="col-9">
                <input type="text" class="form-control" #taskname>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                current status
            </div>
            <div class="col-9">
                <select #statusval >
                    <option *ngFor="let sta of status" value="{{sta.value}}">{{sta.string}}</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary" (click) = 'submit_task(taskname.value, statusval.value)'>
                    submit
                </button>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>